[Desktop Entry]
Encoding=UTF-8
Name=Link to Lovelace-promo-2/MVC.pdf at master · becodeorg/Lovelace-promo-2
Type=Link
URL=https://github.com/becodeorg/Lovelace-promo-2/blob/master/Parcours/MVC/MVC.pdf
Icon=text-html
