[Desktop Entry]
Encoding=UTF-8
Name=Link to Model–view–controller - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller
Icon=text-html
