[Desktop Entry]
Encoding=UTF-8
Name=Link to MVC/View at master · ThomasPnt/MVC
Type=Link
URL=https://github.com/ThomasPnt/MVC/tree/master/View
Icon=text-html
