.PageStock {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.stock {
  top: 120px;
  height: 100vh;
}

.Photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.Acajou, .Balance, .Bois, .Canape {
  background-color: blue;
  height: 250px;
  width: 290px;
  display: inline-block;
  margin: 10px 5px 0px 5px;
}

form {
  height: 100px;
  margin-top: 65px;
}
label {
  font-size: 25px;
}
